<root>
	<server n="serwer1">
		<interface peer="se3rwer2" bandwidth="1000" probability="0.3"> </interface>
		<interface peer="serwer1" bandwidth="1200" probability="0.4"> </interface>
	</server>
	<server n="serwer2">
		<interface peer="serwer2" bandwidth="1500" probability="1.0"> </interface>
	</server>
	
</root>