<root>
	<server n="serwer1">
		<interface peer="serwer2" bandwidth="1000" probability="0.3">	</interface>
		<interface peer="serwer1" bandwidth="1200" probability="0.4">	</interface>
		<generator type="basic">	</generator>			
		<generator type="normal">	
			<mean>1</mean>
			<variance>3</variance>
		</generator>	
		<generator type="constant">
			<interval>2</interval>
		</generator>	
		<generator type="uniform">
			<range>7</range>
		</generator>	
	</server>
	<server n="serwer2">
		<interface peer="serwer2" bandwidth="1500" probability="1.0"> </interface>
		<generator type="constant">
			<interval>77.7</interval>
		</generator>	
	</server>
	
</root>